@tailwind base;
@tailwind components;
@tailwind utilities;
html, body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
.pc-1 > *:not(.p-0) { padding: 0.25rem; }
.pcx-1 > *:not(.p-0) { padding-inline: 0.25rem; }
.pc-2 > *:not(.p-0) { padding: 0.5rem; }
.pcx-2 > *:not(.p-0) { padding-inline: 0.5rem; }
.bc-1 *:is(input, textarea, select) {border: 1px dotted currentColor}
